{% extends "master.twig" %}

{% block title %} Texnis Sergiani {% endblock title %}

{% block content %}

    <div class="row headline"><!-- Begin Headline -->

        <!-- Slider Carousel
       ================================================== -->
        <div class="span8">
            <div class="flexslider">
                <ul class="slides">
                    {% for post in carouselPosts %}
                        <li><a href="{{ post.url }}"><img
                                        src="img/carousel/{{ post.name }}" alt="slider"/></a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <!-- Headline Text
        ================================================== -->
        <div class="span4">
            <img src="/img/test/kourtis_good.jpg" style="float: right; max-width: 100%; height: auto; margin-bottom: 10px; border: 4px solid darkgrey; border-radius: 15%" alt="author">
            <h3 style="padding-bottom: 30px;">
                My name is Kourtis.
                <br/>
                This is my application.
            </h3>
            {#<p class="lead">#}
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pretium vulputate magna
                sit
                amet blandit.</p>
            <p>Cras rutrum, massa non blandit convallis, est lacus gravida enim, eu fermentum ligula orci et tortor.
                In
                sit amet nisl ac leo pulvinar molestie. Morbi blandit ultricies ultrices.</p>
            <p>Cras rutrum, massa non blandit convallis, est lacus gravida enim, eu fermentum ligula orci et tortor.
                In
                sit amet nisl ac leo pulvinar molestie. Morbi blandit ultricies ultrices.</p>
            <a href="#"><i class="icon-plus-sign"></i>Read More</a>
        </div>
    </div><!-- End Headline -->

    <!-- Page Content
    ================================================== -->
    <div class="row">

        <!-- Gallery Items
        ================================================== -->
        <div class="span12 gallery" style="margin-top: 30px;">

            <h2> ΤΕΛΕΥΤΑΙΑ ΑΡΘΡΑ </h2>

            <ul id="filterOptions" class="gallery-cats clearfix">
                <li class="active"><a href="#" class="all">Όλα</a></li>
                <li><a href="#" class="illustration">Κριτικές</a></li>
                <li><a href="#" class="design">Ειδήσεις</a></li>
                <li><a href="#" class="video">Ακροάσεις</a></li>
                <li><a href="#" class="web">Διαγωνισμοί</a></li>
                <li><a href="#" class="web">Παραστάσεις</a></li>
                <li><a href="#" class="web">Συνεντεύξεις</a></li>
            </ul>

            <div class="row clearfix">
                <ul class="gallery-post-grid holder">

                    {% for post in latestPosts %}
                        <!-- Gallery Item 1 -->
                        <li class="span4 gallery-item" data-id="id-1" data-type="illustration">
                        <span class="gallery-hover-3col hidden-phone hidden-tablet">
                            <span class="gallery-icons">
                                <a href="img/theatre/{{ post.nameOfPhoto }}" class="item-zoom-link lightbox"
                                   title="Μεγάλη Εικόνα" data-rel="prettyPhoto"></a>
                                <a href="/theatre/{{ post.urlName }}"
                                   class="item-details-link"></a>
                            </span>
                        </span>
                            <a href="/theatre/{{ post.urlName }}">
                                <img src="img/theatre/{{ post.nameOfPhoto }}" alt="Gallery">
                            </a>
                            <span class="project-details">
                                <a href="/theatre/{{ post.urlName }}">{{ post.title }}</a>
                                {{ post.summary }}</span>
                        </li>
                    {% endfor %}

                    <!-- Gallery Item Example -->
                    {#<li class="span4 gallery-item" data-id="id-1" data-type="illustration">#}
                    {#<span class="gallery-hover-3col hidden-phone hidden-tablet">#}
                    {#<span class="gallery-icons">#}
                    {#<a href="img/gallery/gallery-img-1-full.jpg" class="item-zoom-link lightbox"#}
                    {#title="Custom Illustration" data-rel="prettyPhoto"></a>#}
                    {#<a href="../../Template%20Pages%20-%20Demo/gallery-single.htm"#}
                    {#class="item-details-link"></a>#}
                    {#</span>#}
                    {#</span>#}
                    {#<a href="../../Template%20Pages%20-%20Demo/gallery-single.htm"><img#}
                    {#src="img/gallery/gallery-img-1-3col.jpg" alt="Gallery"></a>#}
                    {#<span class="project-details"><a#}
                    {#href="../../Template%20Pages%20-%20Demo/gallery-single.htm">Custom Illustration</a>For an international add campaign.</span>#}
                    {#</li>#}

                </ul>
            </div>

            <!-- Pagination -->
            {#<div class="pagination">#}
                {#<ul>#}
                    {#<li class="active"><a href="#">Prev</a></li>#}
                    {#<li class="active"><a href="#">1</a></li>#}
                    {#<li><a href="#">2</a></li>#}
                    {#<li><a href="#">3</a></li>#}
                    {#<li><a href="#">4</a></li>#}
                    {#<li><a href="#">Next</a></li>#}
                {#</ul>#}
            {#</div>#}

        </div><!-- End gallery list-->

    </div> <!-- End Page Content -->

{% endblock content %}




