{% extends "master.twig" %}

{% block title %} Texnis Sergiani {% endblock title %}

{% block content %}

    <!--Search-->
    {#<section class="align-right">#}
    {#<div class="input-append">#}
    {#<form action="#">#}
    {#<input id="appendedInputButton" size="16" type="text" placeholder="Search">#}
    {#<button class="btn" type="button"><i class="icon-search"></i></button>#}
    {#</form>#}
    {#</div>#}
    {#</section>#}

    <!-- Blog Content
    ================================================== -->
    <div class="row">

        <!-- Blog Posts
        ================================================== -->
        <div class="span10 offset1 blog" style="">

            {# Podacsts Info #}
            <article>
                <h3 class="title-bg" style="text-align: center;">On-Demand Podcasts</h3>
                <div class="post-summary">
                    <div style="text-align: center;">
                        <a href="" style="max-width:100%; margin: 0 auto;">
                            <img src="/img/gallery/podcasts.jpg" alt="Post Thumb">
                        </a>
                    </div>
                    <p>* Σεργιάνι: Δηλαδή η βόλτα, ο περίπατος, η τσάρκα, ο γύρος, το σεργιάνισμα [λέξη προερχόμενη από το τούρκικο ‘seyran’ που σημαίνει ‘εκδρομή‘]</p>

                       <p> Όταν η τέχνη και ο πολιτισμός συναντούν την έντεχνη μουσική το αποτέλεσμα είναι το ραδιοφωνικό <a href="http://www.metadeftero.gr/category/%CF%84%CE%AD%CF%87%CE%BD%CE%B7%CF%82-%CF%83%CE%B5%CF%81%CE%B3%CE%B9%CE%AC%CE%BD%CE%B9/" alt="link_to_site">"Τέχνης σεργιάνι"</a> κάθε Δευτέρα μεσημέρι στις 12:00 στο πρόγραμμα του Μεταδεύτερου. Ο Αλέξανδρος Κούρτης παίρνει θέση πίσω από το μικρόφωνο και αναλαμβάνει για μία ώρα κάθε εβδομάδα να παρουσιάσει ιδιαίτερες προτάσεις που λαμβάνουν χώρα στην πόλη και να κουβεντιάσει μαζί με τους καλεσμένους του στο στούντιο οτιδήποτε αφορά το θέατρο καθώς και κάθε άλλο είδος τέχνης. Όλες τις εκπομπές, από την πρώτη μα και την δεύτερη τρέχουσα σεζόν, μπορείτε να τις βρείτε εδώ.</p>
                </div>
            </article>

            <!-- Podcasts -->
            {% for post in posts %}
                <article>
                    <h3 class="title-bg" style="text-align: center;">{{ post.title }}</h3>
                    <div class="post-summary">
                        <div style="text-align: center;">
                            <a href="" style="max-width:100%; margin: 0 auto;">
                                {#<img src="/img/gallery/post-img-1.jpg" alt="Post Thumb">#}
                                <iframe src="{{ post.video }}" allowfullscreen="allowfullscreen" width="80%"
                                        height="280"></iframe>
                            </a>
                        </div>
                        <p>{{ post.body }}</p>
                        <div class="post-summary-footer">
                            {#<button class="btn btn-small btn-inverse" type="button">Read more</button>#}
                            <ul class="post-data">
                                <li><i class="icon-calendar"></i> {{ post.showDate }} </li>
                                <li><i class="icon-tags"></i> season {{ post.season }} </li>
                            </ul>
                        </div>
                    </div>
                </article>
            {% endfor %}

            <!-- Pagination -->
            <div class="pagination">
                <ul>
                    <li class="active"><a href="#">Prev</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div>
        </div>
    </div>

{% endblock content %}